/*-------- Media queries for 1200px --------*/
@media (max-width: 1200px)
  .packages
    &-varieties
      grid-template-columns: 1fr 1fr 1fr 1fr
      &__offer
        grid-column: span 2
        &-first
          grid-column: span 4
/*-------- Media queries for 992px --------*/
@media (max-width: 991px)
  .packages
    &-varieties
      grid-template-columns: 1fr 1fr
      &__offer
        grid-column: span 1
        &-first
          grid-column: span 2
/*-------- Media queries for 768px --------*/
@media (max-width: 767px)
  .packages
    &-varieties
      &__offer
        &-first
          &-info
            padding: 25px 20px
      &__info
        padding: 25px 20px
/*-------- Media queries for 576px --------*/
@media ( max-width: 576px)
  .packages
    &-varieties
      grid-template-columns: 1fr
      &__offer
        &-first
          grid-column: span 1
          grid-template-columns: 1fr
          grid-template-rows: repeat(2,minmax(250px,min-content))
          &-services
            margin-bottom: 24px
      &__text
        display: none
      &__services
        &-address,&-guest,&-room
          grid-template-columns: 5% 90%
/*-------- Media queries for 417px --------*/
@media ( max-width: 417px)
  .packages
    &-varieties
      &__services
        &-address,&-guest,&-room
          grid-template-columns: 7% 90%
/*-------- Media queries for 320px --------*/
@media ( max-width: 320px)
  .packages
    &-varieties
      &__services
        &-address,&-guest,&-room
          grid-template-columns: 10% 90%
      &__prices
        &-new
          &-price
            font-size: 20px
      &__button
        min-width: 100px
        min-height: 30px
        padding: 8px 20px
