.header
	background-color: #fff
	&-top
		display: flex
		align-items: center
		justify-content: space-between
		padding: 40px 0
.logo
	width: 177px
.header
	&__search
		width: 350px
		margin-right: auto
		margin-left: 108px
.search
	display: flex
	position: relative
	overflow: hidden
	border-radius: 6px
	height: 40px
	&__input
		height: 100%
		background: #F5FAFE
		border: none
		padding-left: 23px
		padding-right: 70px
		font-size: 12px
		line-height: 15px
		color: $text-color
	&__button
		position: absolute
		right: 0
		width: 65px
		height: 100%
		border: 0
		background-color: $primary
.user
	display: flex
	align-items: center
	text-decoration: none
	&__avatar
		width: 40px
		height: 40px
		border-radius: 50%
		object-fit: cover
	&__name
		font-size: 14px
		line-height: 18px
		color: $text-color
		margin-left: 18px
.header-menu
	background: $dark
	padding: 31px 0
	color: $white
.menu
	&__list
		padding-left: 0
		display: flex
		align-items: center
		justify-content: space-between
		margin: 0
	&__link
		color: inherit
		text-decoration: none
		text-transform: uppercase
		font-size: 14px
		line-height: 18px
.header-bottom
	padding: 18px 0
.breadcrumb

	&__list
		display: flex
	&__item
		line-height: 13px
	&__link
		color: inherit
		font-size: 10px
		line-height: 13px
		text-decoration: none
