.newsletter
	position: relative
	padding-top: 98px
	padding-bottom: 87px
	background-image: url(../../image/newsletter-bg.jpg)
	background-attachment: fixed
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	.container
		display: flex
		align-items: center
		justify-content: space-evenly
	::before
		content: ''
		width: 100%
		height: 100%
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: -1
		background: rgba($dark, 0.4)
	&__text
		z-index: 1
		&-subscribe
			font-size: 24px
			line-height: 30px
			color: $white
		&-title
			font-weight: 600
			font-size: 36px
			line-height: 45px
			text-transform: uppercase
			color: $white
			margin: 0
.subscribe
	position: relative
	width: 350px
	height: 55px
	overflow: hidden
	border-radius: 4px
	z-index: 1
	&__input
		position: absolute
		width: 100%
		height: 100%
		border: none
		padding-left: 33px
		padding-right: 70px
		font-weight: 300
		font-size: 14px
		line-height: 18px
		color: $text-color
	&__button
		position: absolute
		top: 0
		right: 0
		width: 65px
		height: 100%
		border: 0
		background-color: $primary
		color: $white
		font-weight: bold
		font-size: 12px
		line-height: 15px
